<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrsportsgame.jrbm.mapper.MyFreeMarketMapper">
  <resultMap id="BaseResultMap" type="com.jrsportsgame.jrbm.model.Freemarket">

    <id column="fpid" jdbcType="INTEGER" property="fpid" />
    <result column="upid" jdbcType="INTEGER" property="upid" />
    <result column="freetime" jdbcType="TIMESTAMP" property="freetime" />
    <result column="source" jdbcType="INTEGER" property="source" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <update id="changeUserPlayerStatusByFpid" parameterType="map">
    update userplayers
    set status=0
    where
    upid =
    (
    select upid from freemarket where fpid=#{fpid}
    )
  </update>


</mapper>