<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrsportsgame.jrbm.mapper.MyUserPlayersMapper">
  <resultMap id="BaseResultMap" type="com.jrsportsgame.jrbm.model.Userplayers">

    <id column="upid" jdbcType="INTEGER" property="upid" />
    <result column="bpid" jdbcType="INTEGER" property="bpid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="position" jdbcType="INTEGER" property="position" />
  </resultMap>

  <update id="adjustFiredPlayerPostion" parameterType="map">
    update userplayers
    set position =position -1
    where
    tid= #{tid} and position > #{position} and position &lt;=12
  </update>

  <update id="substituteForFiredPlayer" parameterType="map">
    update userplayers
    set position = #{position}
    where
    tid= #{tid} and position = 6
  </update>

  <update id="adjustUnregFiredPlayerPosition" parameterType="map">
    update userplayers
    set position =position -1
    where
    tid= #{tid} and position > #{position} and position &lt;=15
  </update>

</mapper>