<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrsportsgame.jrbm.mapper.OrderMapper">

    <resultMap id="OrderMap" type="com.jrsportsgame.jrbm.entity.OrderEntity">
        <id column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="order_no" jdbcType="BIGINT" property="orderNo" />
        <result column="pay_coin" jdbcType="VARCHAR" property="pay_coin" />
        <result column="pay_diamond" jdbcType="INTEGER" property="pay_diamond" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="team_id" jdbcType="BIGINT" property="teamId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    </resultMap>

    <insert id="createOrder" useGeneratedKeys="true" keyProperty="order_id" parameterType="com.jrsportsgame.jrbm.pojo.Order">
        insert into "order" values(null,#{order.orderNo},#{order.pay_coin},#{order.pay_diamond},#{order.user_id},#{order.team_id},#{order.createTime},#{orderStatus});
    </insert>

    <insert id="createOrderDetail" useGeneratedKeys="true" keyProperty="order_detail_id" parameterType="java.util.List">
        <foreach collection="orderDetailList" item="od" separator="," open="(" close=")">
            insert into order_detail values(null,#{od.orderId},#{od.productId},#{od.productName},#{od.productImg},#{od.priceCoin},#{od.priceDiamond},#{od.currency},#{od.amount});
        </foreach>
    </insert>




</mapper>


